<!-- Desktop Table -->
<div class="flex justify-end items-end gap-2">
    <!-- Search -->
    <div class="relative w-full max-w-sm">
        <label class="input input-bordered flex items-center gap-1 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 opacity-50" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2">
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.35-4.35" />
            </svg>
            <input type="search" class="grow border-0 bg-transparent outline-none" placeholder="Search" />
        </label>
    </div>
    <!-- Button -->
    <button (click)="handleToggleStep()" class="btn btn-primary rounded-full">{{ showStep ? 'Hide Steps' : 'Show Steps'
        }}
        Add Student
    </button>
</div>
<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-3">
    @for (stat of stats; track stat.label) {
    <div
        class="card bg-white shadow-sm border border-gray-100 hover:shadow-md hover:ring-blue-500 hover:border-green-400 transition-shadow rounded-lg">
        <div class="card-body flex-row items-center gap-4 p-6">
            <div class="w-12 h-12 rounded-full flex items-center justify-center text-2xl flex-shrink-0"
                [ngClass]="stat.bg">
                <i [class]="stat.icon"></i>
            </div>
            <div>
                <p class="text-xs text-gray-400 font-medium">
                    {{ stat.label }}
                </p>
                <p class="text-2xl font-bold text-gray-800">
                    {{ stat.value.toLocaleString() }}
                </p>
            </div>
        </div>
    </div>
    }
</div>
@if(showStep){
<ul class="steps">
    <li class="step step-primary">Register</li>
    <li class="step step-primary">Choose plan</li>
    <li class="step">Purchase</li>
    <li class="step">Receive Product</li>
</ul>
}

<div class="hidden sm:block mt-5">
    <table class="table w-full">
        <thead>
            <tr>
                <th>#index</th>
                <th>khFirstName</th>
                <th>khLastName</th>
                <th>enFirstName</th>
                <th>enLastName</th>
                <th>studentCode</th>
                <th>className</th>
                <th>gender</th>
                <th>phoneNumber</th>
                <th>dateofBirth</th>
                <th>address</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            @for (item of students; track $index) {
            <tr class="hover:bg-gray-50 odd:bg-white even:bg-gray-50">
                <td>{{ $index + 1 }}</td>
                <td class="px-4 py-3">{{ item.khFirstName || 'NA'}}</td>
                <td class="px-4 py-3">{{ item.khLastName || 'NA'}}</td>
                <td class="px-4 py-3">{{ item.enFirstName || 'NA'}}</td>
                <td class="px-4 py-3">{{ item.enLastName || 'NA'}}</td>
                <td class="px-4 py-3">{{ item.studentCode || 'NA'}}</td>
                <td class="px-4 py-3">{{ item.classId.className || 'NA'}}</td>
                <td class="px-4 py-3"> {{ item.gender === 'M' ? 'MALE' : 'FEMALE' ||'NA' }}</td>
                <td class="px-4 py-3">{{ item.phoneNumber || 'NA' }}</td>
                <td class="px-4 py-3">{{ item.dateOfBirth || 'NA'}}</td>
                <td class="px-4 py-3">{{ item.address ||'NA' }}</td>
                <td class="px-4 py-3">
                    <span class="px-2 py-1 rounded text-white"
                        [ngClass]="item.status === 'INACTIVE' ? 'bg-red-500' : 'bg-green-500'">
                        {{ item.status === 'INACTIVE' ? 'Inactive' : 'Active' }}
                    </span>
                </td>
                <td class="px-4 py-3">
                    <div class="flex justify-start gap-2">
                        <!-- View button: show for everyone except ROLE_ADMIN -->
                        <button *ngIf="currentUserRole !== 'ROLE_ADMIN'"
                            class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded text-xs">
                            View
                        </button>

                        <!-- Edit button: show only for ROLE_ADMIN -->
                        <button *ngIf="currentUserRole !== 'ROLE_ADMIN'"
                            class="bg-yellow-500 hover:bg-yellow-600 text-white px-2 py-1 rounded text-xs">
                            Edit
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- Mobile Cards -->
<div class="sm:hidden p-1">
    <div class="grid grid-cols-2 gap-2">
        <div *ngFor="let item of students; let i = index"
            class="bg-white rounded shadow p-2 border border-gray-200 text-xs">
            <div class="flex flex-col h-full">
                <div class="space-y-0.5 flex-grow">
                    <div class="truncate font-medium">{{ item?.name }}</div>
                    <div class="text-gray-500">{{ item?.studentCode }}</div>
                    <div class="text-gray-500">{{ item?.classes?.name }}</div>
                    <div class="truncate text-gray-500" title="{{ item?.status }}">
                        <span class="px-2 py-1 rounded text-white"
                            [ngClass]="item.status === 'INACTIVE' ? 'bg-red-500' : 'bg-green-500'">
                            {{ item.status === 'INACTIVE' ? 'Inactive' : 'Active' }}
                        </span>
                    </div>
                </div>
                <div *ngIf="currentUserRole !== 'ROLE_STAFF'" class="flex justify-between mt-1 space-x-1">
                    <button class="bg-blue-500 text-white px-1 py-0.5 rounded text-[10px] w-full">
                        View
                    </button>
                    @if(this.currentUserRole === 'ROLE_ADMIN'){
                    <button class="bg-yellow-500 text-white px-1 py-0.5 rounded text-[10px] w-full">
                        Edit
                    </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>